{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Descripción de tu página web aquí">
    <link rel="icon" href="ruta/al/icono.png" type="image/png">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Deloitte | WebShop</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div id="navbar" class="container-fluid">
            <a id="titulo" class="navbar-brand" href="{% url 'home' %}">Deloitte</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-3">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'productos' %}">Productos</a>
                    </li>
                    {% if user.is_authenticated and user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'crearProducto' %}">Crear producto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'crearCategoria' %}">Crear categoría</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cerrarSesion' %}">Cerrar sesión</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registro' %}">Registro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'iniciarSesion' %}">Iniciar sesión</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>
        <div class="container">
            <p>&copy; 2023 Deloitte WebShop | Diseñado por: <a href="https://github.com/mattkrz" target="_blank" rel="noopener noreferrer" class="text-white" style="text-decoration: none;">mzambellic</a> | Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="{% static 'core/js/bootstrap.js' %}"></script>
</body>
</html>
