{% extends 'core/base.html' %}

{% block content %}
<main class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-4 col-md-6">
            <form id="login" method="POST" class="card card-body">
                <h2 class="text-center mb-4">Iniciar Sesión</h2>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario:</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Escribe tu nombre de usuario" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña:</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Escribe tu contraseña" required>
                </div>
                <button type="submit" class="btn btn-success w-100">Iniciar sesión</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}